* {
    margin: 0;
    padding: 0;
}
 body {
  background-color: #D8D8D8;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
    overflow: hidden;
    background-color: #59453A;
    text-align: center;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;

  }

.mainphoto {
    background-image: url('./img/Berat-Albania-46.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

#home {
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  background-color: #3A251C;
  color: white;
  padding: 241px 25px;
  text-align: end;
}

h3{
  margin: 4% 2% 1%;
  text-align: center;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  h4 {
    margin-bottom: 5px;
  }

  td {
      width: 500px;
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }

  footer{
    background-color: #59453A;
    text-align: center;
    padding: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #D8D8D8;
  }

  hr {
    border-top: 10px dotted gray;
    width: 100px;
    margin: 4% auto;
  }

  p {
    margin-bottom: 8px;
  }

  .button {
    background-color: #59453A; 
    border: none;
    color: #D8D8D8;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 194px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
